.u-section-1 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-family: Alatsi;
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-1 .u-form-1 {
  height: 343px;
  width: 570px;
  margin: 67px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}

 .alert_error {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}

.alert_success {
  padding: 20px;
  background-color: green; 
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
} 